/* -------------------------------------------------------- */

body {
    font-family: $fuentegeneral;
    margin:0;
    

    a {
    text-decoration: none;
    color: $acentos;
    }
}
 
.fondoblanco {
    background-color: white;
    color: $fondo_oscuro;
}

.fondoceleste {
    background-color: $fondo_claro;
    color: $fondo_oscuro; 
}

