/* -------------------------------------------------------- */
body {
    font-family: $fuentegeneral;
    color: white;
    font-size: 16px;
    background-color: $fondo_oscuro; 
    margin: 0;

    a {
    text-decoration: none;
    color: $acentos;
    }
    ul{
        list-style: none;
    }

    h3{
        font-size: 36px;
        font-family: $fuentetitulos;
        color: $colortitulos;
    }
}
 
.fondoblanco {
    background-color: white;
    color: $colorletra;
}

.fondoceleste {
    background-color: $fondo_claro;
    color: $fondo_oscuro; 
}


.flex {
    display: flex;
}

.left {
   float: left;
}

.right{
    float: right;
}
  
.container {
    width: 100%;
    padding-right: 50px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    box-sizing: border-box;
}

.seccion {
    padding: 24px 15px ;
    text-align: center;
}