$fondo: #004a99;

$fondo_oscuro: #00428a;
/*----se usa solo en el body, la parte de copyright tiene fondo transparente y se ve este color ---*/ 

$fondo_claro: #ecf5ff;

$acentos: #007bff;


$subtitulo: #283d50;
$textogris: #556877;
/*---botones, links----*/

$fuentegeneral: "Open Sans", sans-serif;

$fuentetitulos: "Montserrat", sans-serif;

 