$fondo: #004a99;

$fondo_oscuro: #1445b3;
/*----se usa solo en el body, la parte de copyright tiene fondo transparente y se ve este color ---*/ 

$fondo_claro: #ecf5ff;

$acentos: #007bff;

$resaltado: #74b5fc;
/*---botones, links----*/

$fuentegeneral: "Open Sans", sans-serif;

$fuentetitulos: "Montserrat", sans-serif;


 