$fondo: #004a99;
$fondo_overlay: rgba(19, 39, 57, 0.8);
$fondo_oscuro: #00428a;
$fondo_claro: #ecf5ff;


$color_iconos:#004289;
$acentos: #007bff;

/*---botones, links----*/

$fuentegeneral: "Open Sans", sans-serif;
$fuentetitulos: "Montserrat", sans-serif;

 