/*---botones, links----*/
/* -------------------------------------------------------- */
body {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 16px;
  background-color: #00428a;
  margin: 0;
  width: 100%;
}
body a {
  text-decoration: none;
  color: #007bff;
}
body ul {
  list-style: none;
}
body h3 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
}
body h4 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 18px;
  font-weight: 600;
}

.fondoblanco {
  background-color: white;
  color: #444444;
}

.fondoceleste {
  background-color: #ecf5ff;
  color: #00428a;
}

.roundbuttons {
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  padding: 5px;
  margin: 4px;
  text-align: center;
  font-size: 22px;
  width: 35px;
  height: 35px;
}

.button {
  background-color: #007bff;
  color: white;
  border: 0;
  padding: 7px 0;
  text-align: center;
}

.flex {
  display: flex;
}

.columna {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.fullcentrado {
  justify-content: center;
  align-items: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.marginbottom {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  box-sizing: border-box;
}

.seccion {
  padding: 24px 15px;
  text-align: center;
}

#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  z-index: 997;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}
#nav .img {
  max-height: 26px;
}

/*--------------M O B I LE -----------------*/
.navmenu-mobile-overlay {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  background: rgba(19, 39, 57, 0.8);
  display: none;
  position: fixed;
}

.navmenu-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}
.navmenu-mobile a {
  color: white;
  padding: 10px 20px;
  display: block;
  position: relative;
  font-weight: 500;
}
.navmenu-mobile ul {
  margin: 0;
  padding: 0;
}
.navmenu-mobile li {
  width: 240px;
  height: 34px;
}
.navmenu-mobile label {
  padding: 10px 20px;
}

.togglemenu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  text-align: right;
}
.togglemenu .fa-bars {
  margin: 18px 18px 0 0;
  color: #004289;
}
.togglemenu:hover ~ .navmenu-mobile {
  left: 0;
}
.togglemenu:hover ~ .navmenu-mobile-overlay {
  display: block;
}

/*-----dropdown------*/
.desplegable {
  display: none;
}

.up {
  display: none;
}

#check {
  display: none;
}
#check:checked + .desplegable {
  display: block;
}
#check:checked + .down {
  display: none;
}
#check:checked + .up {
  display: block;
}

.desplegable2 {
  display: none;
}

.up {
  display: none;
}

#check2 {
  display: none;
}
#check2:checked + .desplegable2 {
  display: block;
}
#check2:checked + .down {
  display: none;
}
#check2:checked + .up {
  display: block;
}

/*-------desktop only-------------------------*/
.navmenu-desktop {
  display: none;
}

.footer .footertop {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #004a99;
}
.footer h3 {
  color: white;
  font-weight: 400;
  letter-spacing: 3px;
}
.footer h4 {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.footer p {
  color: #ecf5ff;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 30px;
}
.footer ul {
  padding-left: 0;
  font-size: 14px;
}
.footer ul a {
  color: #ecf5ff;
}
.footer ul li {
  padding: 8px 0px;
}
.footer .waynefamily p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
.footer .contacto p {
  font-size: 14px;
  line-height: 26px;
}
.footer .contacto .socialbuttons .social {
  font-size: 18px;
  padding: 0;
}
.footer form {
  flex-wrap: nowrap;
}
.footer form input {
  box-sizing: border-box;
  border: 0;
  padding: 6px 8px;
  width: 65%;
}
.footer form .button {
  width: 35%;
  font-size: 15px;
}
.footer .footerbot {
  font-size: 14px;
  padding: 30px 0;
}
.footer .footerbot span:last-child {
  font-size: 13px;
}

#about-us header {
  font-size: 15px;
  color: #556877;
}

.imgcontainer {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.imgcontainer img {
  width: 100%;
}

.itemaboutus {
  text-align: left;
  padding-bottom: 30px;
}
.itemaboutus .icon {
  background: transparent;
  width: 64px;
  height: 64px;
  border: 2px solid #007bff;
  border-radius: 50%;
  color: #007bff;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}
.itemaboutus p {
  margin: 0 0 0 80px;
  line-height: 24px;
  font-size: 14px;
}
.itemaboutus h4 {
  margin: 0 0 5px 80px;
}
.itemaboutus:hover > .icon {
  background: #007bff;
  color: white;
}

#about-us-sec2 {
  text-align: left;
}
#about-us-sec2 h4 {
  font-weight: 600;
  font-size: 24px;
}

#portfolio .filtros ul {
  flex-wrap: nowrap;
  padding: 0;
  justify-content: space-around;
}
#portfolio .filtros ul li {
  border-radius: 50px;
  background-color: #ecf5ff;
  font-size: 12px;
  color: #007bff;
  padding: 6px 20px;
  margin: 15px 15px 5px 0;
}
#portfolio .filtros ul li:hover {
  background-color: #007bff;
  color: white;
}
#portfolio .filtros ul li:last-child {
  margin-right: 0;
}
#portfolio .filtros ul li:first-child {
  background-color: #007bff;
  color: white;
}
#portfolio .portfolio-content .portfolio-item {
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
  height: 250px;
}
#portfolio .portfolio-content .portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#portfolio .portfolio-content .portfolio-item .portfolio-item-hover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(19, 39, 57, 0.8);
}
#portfolio .portfolio-content .portfolio-item .portfolio-item-hover h4 {
  color: white;
  margin: 0;
}
#portfolio .portfolio-content .portfolio-item:hover > .portfolio-item-hover {
  display: flex;
}

#why-us {
  padding: 24px 0;
  background-color: #004a99;
}
#why-us h3 {
  color: white;
}
#why-us a {
  color: white;
}
#why-us p {
  font-size: 15px;
  margin: 10px 10px 60px;
}
#why-us .card {
  background-color: #00458f;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}
#why-us .card:hover {
  background-color: #003b7a;
}
#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 12px;
}
#why-us .card .fa {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}
#why-us .card .cardbody {
  padding: 15px;
}
#why-us .counters {
  justify-content: space-around;
}
#why-us .counters div {
  position: relative;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 15px;
}
#why-us .counters span {
  display: block;
  font-size: 48px;
  font-weight: bold;
}

/*# sourceMappingURL=estilo.css.map */
