/* -------------------------------------------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    line-height: 1.5;
    margin: 0;
}

body h1 h2 h3 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #007bff;
}
/*---------------------------------------------------------------*/
/*-----------------------------------------------------------------*/


.container {
    width: 100%;
    padding-right: 50px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    box-sizing: border-box;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


.fijotop{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
/*********************** H E A  D E R ************************/
/*************************************************************/

#header {
    background-color: white;
    height: 80px;
    padding: 20px 0;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    box-sizing: border-box;
}

#header  .logo img {
    width: 67px;
    height: 26px;
    box-sizing: border-box;
    margin: 7px 0;
    padding: 0;
}

/*********** BARRRA NAVEGACION ********/
/**************************************/


.navbar * {
    list-style: none;
    margin: 0;
    padding: 0;
}


.navbar > ul > li {
    float: left;
    position: relative;
 
}

.navbar ul {
    display: block;
}

.navbar a {
    display: block;
    position: relative;
    color: #004289;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.navbar a:hover {
    color: #007bff;
}

.navbar .desplegable ul {
    display: block;
    position: absolute;
    padding: 10px 0;
    background: #fff;
    opacity: 0;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
    left: 0;
    visibility: hidden;

}

.navbar .desplegable:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .desplegable li {
    width: 180px;
    position: relative;
  }
  
  /*---------------------------------------------------------
  ---------------- F O O T E R ------------------------------*
  ----------------------------------------------------------*/
  
  .footer {
      background-color: #00428a;
      height: 200px;
      color: #eee;
      font-size: 14px;
      padding: 0 0 30px 0;

  }

  .footer .footertop {
    background: #004a99;
  
    padding: 0;
    width: 100%;
  }

  .footer .footerbot {
      padding: 0;
      text-align: center;
  }