/* Error: Undefined mixin.
 *    ,
 * 77 | / @include desktop {
 * 78 | |     
 * 79 | |         flex-direction: row;
 * 80 | \     }
 *    '
 *   sass\layout\_home02.scss 77:1  @import
 *   sass\all.scss 4:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 77 \2502  \250c  @include desktop {\a 78 \2502  \2502      \a 79 \2502  \2502          flex-direction: row;\a 80 \2502  \2514      }\a    \2575 \a   sass\\layout\\_home02.scss 77:1  @import\a   sass\\all.scss 4:9              root stylesheet";
}
