#contact-us{
    background: white;
    width:100%;
    height: auto; 
    header{
        color: $colortitulo;
        font-size:36px ;
        text-align: center;
        padding-top: 50px;
        padding-bottom:50px;
        letter-spacing: 1px;
    }
    .mapa{
        display:flex;
        align-items: center;
        padding-bottom:30px ;
        iframe{
            margin:auto;
            width:90vw;
            height: 330px;
        }
    } 
    .datosyform{
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        .datos{

            div{
                display: flex;
                padding-bottom: 15px;
                padding-left:10px;
                h1{
                    color: $colortitulo;
                    font-weight: 400;
                    font-size: 14px;
                }
                .iconify{
                    padding-right: 10px;
                    display:flex;
                    align-self: center;
                    color: $acentos; 
                    font-size: 30px;
                }
            }
        }
    }
    form{
        display:flex;
        flex-direction: column;
        align-items: center;
        
        input{
            padding:5px;
            font-family: $fuentetitulos;
            font-size: 14px;
            width:90vw;
            height: 25px;
            color: grey;
            margin:10px;
        }
        textarea{
            padding:5px;
            font-family: $fuentetitulos;
            font-size: 14px;
            width:90vw;
            color:grey;
            margin-top: 10px;
            margin-bottom:15px ;
        }
        button{
            font-family: $fuentetitulos;
            font-size: 15px;
            width: 166.88px; 
            height: 40px; 
            color:white;
            background: $acentos;
            border-radius: 45px;
            border: solid 1px $acentos;
            margin-bottom: 50px;
            transition: 0.3s ease-out;
            &:hover{
                background:$fondo;
                cursor: pointer;
            }

        }
    }
    
}

@include desktop {
    #contact-us{
        .contenedorContactus {
            box-sizing: border-box;
            width: 100%;
            padding: 15px;
            display: flex;
            justify-content: center;
            .mapa{
                width:50%;
                iframe{
                    width:100%;
                    margin: 0;
                }
            }
            .datosyform{
                box-sizing: border-box;
                display:flex;
                width: 50%;
                .datos{
                    display: flex;
                    flex-direction: row;
                    div{
                    

                    }
                    
                }
            }

            form{
                width: 100%;
                flex-wrap: wrap;
                flex-direction: row;
                align-content:center;
                .nombre, .email {
                    width: 44%;
                }
                input {
                    
                    width: 95%;
                }

                .comment {
                    margin:10px;
                    
                    width: 95%;
                }
                button{
                    align-self:center;
                }
            }
        }

    }

}