#our-clients{
    background: $fondo_claro;
    width: 100%;
    height: auto;
    margin:0;
    padding-top: 50px;
    padding-bottom: 50px;


    

    header{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        padding-bottom: 50px;
        
        h1{
            color: $colortitulo;
            letter-spacing: 1px; 
            font-weight: 600;
            font-family: $fuentetitulos;
            font-size: 36px;
            margin:0px 0px 15px 0px;
        }
        h2{
            color: $colorgeneral;
            font-weight: 400;
            font-family: $fuentegeneral;
            font-size: 15px;
            margin: 0; 
        }
    }
    .cliente{
        background: white;
        width: 90vw;
        height: 15vh;
        display:flex;
        justify-content: center;
        border: 1px solid #d6eaff;
        &:hover img{
            transform: scale(1.2); 
        }
        img{
            width:50vw;
            align-self: center;
            transition: 0.3s ease-in;
        }
    }  
    
}

@include desktop {
    #our-clients{
        
        .clientes{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            
            
            .cliente{
                width: 20vw;
                height: 20vh;
                img{
                    width:15vw;
                    
                }
            }
        
        }

    }

    


}