#services{
    display: flex;
    flex-direction: column;
    background: $fondo_claro;
    width: 100%;
    height: auto;
    header{
        text-align: center;
        padding: 50px 5px 50px 5px;
        display: inline-block;
        width: 87vw;

        h1{
            font-family: $fuentetitulos;
            font-weight: 500;
            font-size: 233%; 
            color: #283d50;
            margin: 0px;
        }
        h2{
            display:inline-block;
            font-family: $fuentegeneral;
            font-weight: 400;
            font-size: 108%;
            width: 77vw;
            color: #556877;
        }
    }
    .card{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        padding:10px 40px 10px 0px;
        text-align: left;
        background: white;
        border-radius: 15px;
        width: 70vw;
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease-out;
        margin-bottom: 40px;
        color: #283d50;
        &:hover{
            cursor: text;
            transform: translateY(-5px);
            h1{
                color:$acentos;
            }
        } 
        h1{
            font-family: $fuentetitulos;
            flex-direction: column;
            font-size: 130%;
            margin-left:50px;
            transition: all 0.5s ease-out;
            margin-bottom: 5px;
        }
        .subtexto{
            display: flex;
            flex-direction: row;
            .iconify{
                
                font-size: 400%;
                position: absolute;
                left:-23px;
                top:42px;
            }
            h2{
                font-family: $fuentegeneral;
                font-weight: 400;
                font-size: 90%;
                margin-left:50px;
                line-height: 1.6;
            }
            
        }
         
    }
}
    
@include desktop {
    #services{
        .cards{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
        
            .card{
                width: 30vw;
            }
        }
    }
}