#team{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    box-sizing: border-box;
    background: white;
    
    header{
        padding: 50px 0px 50px 0px;
        h1{
            font-family: $fuentetitulos;
            font-size: 250%;
            text-align: center;
            margin:5px;
            color: $subtitulo;
            font-weight: 400;
            
        }
        h2{
            font-family:$fuentegeneral;
            font-size: 95%;
            font-weight: 400;
            text-align: center;
            color:$textogris;
            line-height: 1.6;

        }
    }
    .card{
        
       .persona{
           img{
               width: 73%;
               border-radius:50%;
               position:relative;
           }
           .nombre{
               h1{
                   font-size: 18px;
               }
               h2{
                   font-size: 15px;
               }
               .iconos{
                   
               }
            }
             
           .hoverazul{
               background:blue;
               width:100px;
               height: 100px;
               border-radius: 50%;
           }
       }
        
    
       
    }
}  