#team{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    box-sizing: border-box;
    background: white;
    
    header{
        padding: 50px 0px 50px 0px;
        h1{
            font-family: $fuentetitulos;
            font-size: 250%;
            text-align: center;
            margin:5px;
            color: $subtitulo;
            font-weight: 400; 
            
        }
        h2{
            font-family:$fuentegeneral;
            font-size: 95%;
            font-weight: 400;
            text-align: center;
            color:$textogris;
            line-height: 1.6;

        }
    } 

    .card{
        border-radius: 50%;
        width: 330px;
        height: 330px;
        margin:auto;
        margin-bottom: 20px;
        transition: 0.5s ease-in;
        position: relative;

        &:hover .text{
            transform: translateY(-15px);
            opacity:1;
        }

        .fondoazul{
            background: $fondo;
            border-radius: 50%;
            width: 330px;
            height: 330px;
            margin:auto;
            transition: 0.2s ease-in;
            opacity:0;

            &:hover{
                opacity:0.6;
            }
        }

        .text{
            color:white;
            position:absolute;
            top: 130px;
            left:115px;
            opacity:0;
            transition:0.2s ease-in;    
            text-align: center;
                h1{
                    font-size: 110%;
                    margin:auto; 
                }
                h2{
                    font-weight: 400;
                    font-size: 70%;
                }
            .tredes{
                padding-top:5px;
                text-align: center;
                i{
                    &:hover{
                        color:$acentos;
                        cursor:pointer;
                        opacity: 1;
                    }
                }
            }


        }
    }
    
    .uno  {
        background: url("../imagenes/team-01.jpg");

    }

    .dos {
        background: url("../imagenes/team-02.jpg");

    }

    .tres {
        background: url("../imagenes/team-03.jpg");
 
    }

    .cuatro {
        background: url("../imagenes/team-04.jpg");

    }




}

@include desktop {
    #team{
        
        .cards{
            width: 100%;
            display:flex;
            flex-direction: row;
            align-content: center;
            .text{
                font-size: 30px;
                left:59px;
                top:101px;
            }

            .card {
                width:255px;
                height: 255px;

                .fondoazul {
                    
                width:255px;
                height: 255px;
                }
            }

            
            
        }
        
    }
}