#why-us {
    padding: 24px 0;
    background-color: $fondo;

    h3 {
        color: white;
    }
    a {
        color: white;
    }
    p{
        font-size: 15px;
        margin: 10px 10px 60px;
    }
    .card {
        background-color: $fondo_card;
        border-radius: 15px;
        margin: 15px;
        padding: 15px;
        &:hover {
            background-color: $fondo_cardhover;
        }

        h5 {
            font-size: 22px;
            font-weight: 600;
            margin: 0 0 12px;
        }

        .fa {
            font-size: 48px;
            padding-top: 15px;
            color: #bfddfe;

        }
        .cardbody {
            padding: 15px;
        }
    }
    .counters {
        justify-content: space-around;
        div{
            position: relative;
            max-width: 50%;
            padding-right: 15px;
            padding-left: 15px;
            margin: 15px;
        }
        span {
            display: block;
            font-size: 48px;
            font-weight: bold;
        }
    }
}